body{
    height: 125vh;
    background-image: url(../animal/c2b516f3afbc307a93eee1f7a6f2f6db.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.buta img{
    width: 100%;
    height: auto;
}
.buta{
    width: 50px;
    background-color: transparent;
    border: none;
    
}