.zoo{
    position: relative;
    height: 100%;
    width: 100%;
    background:transparent;
    
}


.animal{
    height: 1000px;
    width: 1000px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}


h1 {
    font-size: 75px;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 65%;
    left: 30%;
}
.buta img{
    width: 100%;
    height: auto;

}
.buta{

    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;

    position: absolute;
    top: 55%;
    left: 0%; 
}
.kaba img{
    width: 100%;
    height: auto;

}
.kaba{

    width: 200px;
    height: 200px;
    /* background-color:transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 15%;

}
.koara img{
    width: 100%;
    height: auto;
}
.koara{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 60%;
}
.simauma img{
    width: 200px;
    height: auto;
}
.simauma{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border-radius: 5%; */
    border-radius: 50%;
    /* border: none; */
    position: absolute;
    top: 40%;
    left: 15%;
}
.zou img{
    width: 100%;
    height: auto;
}
.zou{

    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    border-radius: 50%;
    /* border: none; */
    position: absolute;
    top: 70%;
    left: 75%;

}
.hukurou img{
    width: 90%;
    height: auto;
}
.hukurou{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 30%;

}
.huraminngo img{
    width: 100%;
    height: auto;
}
.huraminngo{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 45%;
}
.hebi img{
    width: 100%;
    height: auto;
}
.hebi{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 75%;
}
.pennginn img{
    width: 100%;
    height: auto;
}
.pennginn{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 30%;
}
.rakuda img{
    width: 90%;
    height: auto;
}
.rakuda{
    width: 200px;
    height: 200px;;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 45%;
}
.risu img{
    width: 100%;
    height: auto;
}
.risu{
    width: 200px;
    height: 200px;
    /* background-color:transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 60%;
    
}
.saru img{
    width: 100%;
    height: auto;
}
.saru{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    /* border: none; */
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 90%;
}

    